.line.line-reservation-demo.line-reservation-sp-form.line-association-rdv {
        padding: 2em 0px;
}
.line.line-reservation-demo.line-association-rdv {    
    background-color: var(--secondary);
    h1,h2,jh3,h4,h5,h6,p,li{
        color:#ffffff;
    }
    h2{
        font-weight: bold;
    }
    > .container > .row .zone-article:first-child p {
        color:#ffffff;
    }
    > .container > .row .zone-article:first-child ul li:before {
        filter:unset;
    }
    >.container > .row-fluid.row {
        display:flex;
        align-items: center;
    }
}

.line.line-reservation-demo.checklist li::before {
    background-image: url(https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/asset/images/whitecheck.svg);
}

[data-component="cookie-consent"],
.displaynone,
.display-none {
    display: none;
}

.cu2024 .line.hide-back .row-fluid.row>div a.article-back-to-list-histo {
    display: none;
}

.cu2024.page-kiosque .line-article-content ul li{
    font-size: inherit;
    color: #595c62;
    font-weight: inherit;
    list-style-type: initial;
}

.line-cuy-panel .newsList .row>div .intro a:last-of-type{
    color: var(--secondary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: relative;
}

.line-cuy-panel .newsList .row>div .intro a:last-of-type::after{
content: url(https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/asset/images/Icones/arrow.svg);
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
}

.line-cuy-panel .newsList .row>div .intro a:last-of-type:hover{
 color: var(--primary);
    text-decoration: none;
    border: none;
}

.line-cards.kiosque .news-mosaic .row>div{
    min-height: 355px;
}

.line-webinar-training a {
    white-space: normal;
}

@media screen and (max-width: 767px) {
.line-cards.kiosque .news-mosaic .row>div{
    min-height: 155px;
}
}


img.yapla-lcl {
    display: none!important;
}

.line.line-menu {
    background-color: var(--white);
}

.img-radius img{
    border-radius: 10px;
}

.quality-image img {
    padding-bottom: 10px;
}

h3, .h3 {
    padding-bottom: 15px;
}

/* Boite à outils */

.line-cards .news-mosaic .row>div .news-intro p a.display {
display: inline-block!important;
}



.tx-gray p{
color: #555;
}

.classe-de-la-page .line-cards .news-mosaic .row:first-of-type>div:nth-of-type(1){
    opacity: 0.6;
    pointer-events: none;
}


/* Visuels responsives */

.line-visual-responsive .mod-article__wrapper .mod-article__intro img{
/*display:none;*/
} 

.line-first-section-page .mod-article__wrapper .mod-article__intro img{
/*display:none;*/
}  

@media screen and (max-width: 1024px){
.line-visual-responsive .mod-article__wrapper img.mod-article__img{
/*display:none;*/
} 

.line-visual-responsive .mod-article__wrapper .mod-article__intro img{
display:block;
padding-bottom: 15px;
}  

.quality-image img {
    width: 100%!important;
}
 } 

@media screen and (max-width: 575px){
.line-first-section-page .mod-article__wrapper img.mod-article__img{
/*display:none;*/
} 

.line-first-section-page .mod-article__wrapper .mod-article__intro img{
display:block;
padding-bottom: 15px;
}  
 } 


.line.line-webinar>.container>.row .zone-article:first-child {
    padding-right: 5em;
}

@media screen and (max-width: 767px) {
    #site-wrapper .line-cards.kiosque .news-mosaic .row>div .news-intro {
        grid-template-columns: 55px auto 55px;
    }
}
@media screen and (max-width: 400px) {
     #site-wrapper .line-cards.kiosque .news-mosaic .row>div .news-intro {
        grid-template-columns: 55px auto 55px;
    }
}

.map iframe:not(.calendly-inline-widget iframe) {
    border-radius: 0;
}


/* section conférence utilisateur */
.event-cu h1 {
    display:none;
}

.event-cu .form-withProgress__wrapper fieldset.subscription-title>legend,.event-cu .form-withProgress__wrapper fieldset>legend{
   color: var(--secondary);
}

.event-cu .form-horizontal .payment-billing .form-control{
    background-color: #fff;
}

.payment-actions .btn.v-btn{
    margin-right: 10px;
}

.page-kiosque .line-article-content{
    background-color:#F1F5FD;
}

.page-kiosque .line-article-content .zone-article.zone-67{
    background:white;
    padding:30px;
}
.page-kiosque .line-article-content .zone-article.zone-67 h1{
    font-size:4.3rem;
}
.page-kiosque .line-article-content .zone-article.zone-67 p{
        color:#595c62;
    }
@media screen and (max-width: 767px) {
    .page-kiosque #site-wrapper .line-article-content{
        padding-top:2em;
    }
    .page-kiosque #site-wrapper .line-article-content .zone-article.zone-67{
        margin:0 15px;
        width:auto;
    }
    .page-kiosque .line-article-content .zone-article.zone-67 h1{
        font-size:3rem;
        text-align:left;
    }
    .page-kiosque .line-article-content .zone-article .col-sm-12{
        clear:both;
        padding-bottom:15px;
    }
}

/* page FNAF */
 .fnaf iframe:not(.calendly-inline-widget iframe){
border-radius: 0;
    }

iframe {
    padding: 5px!important;    
}

.site-inner .line.line-galery-33>.container>.row .zone-67 * {height:auto;}

/* .inline-price .monnaie span {
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    text-transform: uppercase;
    position: relative;
    bottom: 30px;
    margin-left: 7px;
} */
.banniere-annonce {
    display:flex; 
    align-items:center; 
    flex-wrap:wrap;
    justify-content:center;
}
#hs-form-iframe-0,
.meetings-iframe-container iframe{min-height:150px !important;}
.yt-maxwhite{
    border-radius: 10px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.yt-maxwhite img {
    position: relative;
    z-index:2;
    border-radius: 8.527px;
    width:100% !important;
    height:auto;
}
@media (max-width: 991px) {.yt-maxwhite img {margin-bottom:30px;}}
@media (min-width: 992px) {
.yt-maxwhite::before {
    content:url('https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/asset/images/Group (3).png');
    width: 292px;
    height: 116px;
    position: absolute;
    left: -20px;
    z-index: 1;
    bottom: -40px;
}
}

@media (min-width: 768px) {
    .kickstartforminfo {
        padding:0 75px 50px 0;
    }
}
@media (min-width: 992px) {
    .kickstartforminfo {
        padding:0 150px 75px 0;
    }
}
.line-primary.primary-video-feature {
    background:var(--primary);
    h2 {
        color:#ffffff;
        font-size: 38px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px; 
        margin-bottom:30px;
    }
    ul {
        margin:0;
        padding:0;
        li{
            padding:0 0 24px 42px;
            color:#ffffff;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 26px; 
            background:url(https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/13400/122446/images/check-1750108265.png) no-repeat top left;
        }
    }
    .button-google-play,.button-apple-pay {
        span{display:none;}
        display:inline-block;
        background-size:cover;
        height:52px;
    }
    .button-google-play {
       width:173px; 
        background-image:url(https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/asset/images/Google-play.png);
    }
    .button-apple-pay {
        width:164px;
        background-image:url(https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/asset/images/app-store.png);
    }
    .buttons {
        display:flex;
        flex-wrap: wrap;
        gap:15px;
        justify-content: flex-start;
    }
    >.container>.row>.zone-50:first-child{
        .mod-article__intro {
            text-align: center;
            img {
                margin:auto;
                width:322px;
                height:auto;
            }
        }
    }
    >.container>.row>.zone-50:last-child{
        .mod-article__intro {
            padding:40px 0;
        }
    }
}
@media (min-width: 768px) {
    .line-primary.primary-video-feature >.container>.row {
        display:flex;
        align-items: center;
    }
    .line-primary.primary-video-feature .buttons {
        margin-top:45px;
    }
}
.monnaie>sup{
    display:inline-block;
    position:relative;
    top: -30px;
    left:10px;
    font-size: 16px;
    line-height: 16px;
}
.forfait-360-v3.checklist {margin-top:50px;}
.line-hide{display:none;}

.forfait-360-v3 .freespan {display:none;}
.forfait-bloc .forfait-single:first-child {
    display: block !important;
}
.top-padding-none {padding-top:0 !important;}
.bottom-padding-none {padding-bottom:0 !important;}

img.vignette {border-radius:7px; padding-bottom:0; width:100%; height:auto; margin-bottom:15px; }

.line-leftright >.container >.row{
    display:flex;
    align-items: center;
}
.line-2kimagetext .yt-wrapper.donation img{
    max-width:550px;
}
@media (min-width: 992px) {
    .line-2kimagetext .yt-maxwhite::before {
        content:'';
        background: url('https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/asset/images/Group (3).png'); 
        background-repeat:no-repeat; 
        background-position:center bottom;
        width: 100%;
        right: auto;
        left: 50px;
        display:block;
    }
}
.top-padding-none{padding-top:0;}