query {
    plans: allPlanEntries {
        edges {
            node {
                alias
                name_en
                name_fr
                name_it
                offre_preferee
                offre_preferee_txt_en
                offre_preferee_txt_fr
                offre_preferee_txt_it
                prix_avec_devise_en
                prix_avec_devise_fr
                prix_avec_devise_fr_ca
                prix_avec_devise_it
                detail_du_prix_en
                detail_du_prix_fr
                detail_du_prix_fr_ca
                detail_du_prix_it
                description_prix_tooltip_en
                description_prix_tooltip_fr
                description_prix_tooltip_it
                lien_forfait_en
                lien_forfait_fr
                lien_forfait_it
                lien_forfait_fr_ca
                txt_contact_en
                txt_contact_fr
                txt_contact_it
                liste_des_fonctions_en
                liste_des_fonctions_fr
                liste_des_fonctions_fr_ca
                liste_des_fonctions_it
            }
        }
    }
}