query {
    features: allFeatureEntries(first: 2000) {
        edges {
            node {
                name_en
                name_fr
                name_fr_ca
                name_it
                numero_de_larticle_aide
                link_help_center_fr
                link_help_center_fr_ca
                link_help_center_en
                link_help_center_it
                section_en
                section_fr
                section_fr_ca
                section_it
                description_en
                description_fr
                description_it
                gratuit_included
                essentiel_included
                plus_included
                premium_included
                gratuit_relation_text_en
                gratuit_relation_text_fr	
                gratuit_relation_text_fr_ca
                gratuit_relation_text_it
                essentiel_relation_text_en
                essentiel_relation_text_fr
                essentiel_relation_text_fr_ca
                essentiel_relation_text_it
                plus_relation_text_en
                plus_relation_text_fr
                plus_relation_text_fr_ca
                plus_relation_text_it
                premium_relation_text_en
                premium_relation_text_fr
                premium_relation_text_fr_ca
                premium_relation_text_it
                class
                display_order
            }
        }   
    }
    plans: allPlanEntries {
        edges {
            node {
                name_en
                name_fr
                name_it
                lien_forfait_en
                lien_forfait_fr
                lien_forfait_it
                lien_forfait_fr_ca
                txt_contact_en
                txt_contact_fr
                txt_contact_it
                prix_avec_devise_en
                prix_avec_devise_it
                prix_avec_devise_fr
                prix_avec_devise_fr_ca
                class
                requires_contact
                alias
            }
        }
    }
}