@font-face {
    font-family: 'neo_tech_regular';
    src: url('https://il-etait-une-fois.s2.yapla.com/font/neotechstd/NeoTechStd-Regular.otf');
}

@font-face {
    font-family: 'neo_tech_black';
    src: url('https://il-etait-une-fois.s2.yapla.com/font/neotechstd/NeoTechStd-Black.otf');
}