@font-face {
    font-family: 'neo_tech_regular';
    src: url('https://be-art-toulouse.s2.yapla.com/font/neotechstd/NeoTechStd-Regular.otf');
}

@font-face {
    font-family: 'neo_tech_black';
    src: url('https://be-art-toulouse.s2.yapla.com/font/neotechstd/NeoTechStd-Black.otf');
}