@font-face {
    font-family: 'brandon_text_light';
    src: url('https://une-fleur-pour-marion.s2.yapla.com/font/brandontext/BrandonText-Light.otf');
}

@font-face {
    font-family: 'brandon_text_bold_italic';
    src: url('https://une-fleur-pour-marion.s2.yapla.com/font/brandontext/BrandonText-BoldItalic.otf');
}

@font-face {
    font-family: 'brandon_text_ligh_italic';
    src: url('https://une-fleur-pour-marion.s2.yapla.com/font/brandontext/BrandonText-LightItalic.otf');
}

@font-face {
    font-family: 'brandon_text_medium_italic';
    src: url('https://une-fleur-pour-marion.s2.yapla.com/font/brandontext/BrandonText-MediumItalic.otf');
}