<EventDatePaginator
    v-if="event"
    v-slot="{currentDate, nextDate, previousDate, selectNextDate, selectPreviousDate, timeBlocks}"
    class="event-schedule"
>
    <div class="date-pagination">
        <div class="pagination-control previous-page">
            <a class="previous-date" v-if="previousDate" @click="selectPreviousDate"><i class="fas fa-chevron-left"></i> {{ previousDate }}</a>
        </div>
        <div class="current-page">
            <p class="current-date">{{ currentDate }}</p>
            <span class="highlight"></span>
        </div>
        <div class="pagination-control next-page">
            <a class="next-date" v-if="nextDate" @click="selectNextDate">{{ nextDate }} <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>

    <Alert v-if="registrationError" alert-class="danger" :alert-message="registrationError"/>
    
    <div v-for="timeBlock in timeBlocks" :key="timeBlock.id" class="time-block">
        <div class="time-block-header">
            <h3>{{ timeBlock.name }}</h3>
            <p class="block-time">{{ timeBlock.start_time }} &mdash; {{ timeBlock.end_time }}</p>
        </div>
        <div class="workshops">
            <a v-for="workshop in timeBlock.workshops" :key="workshop.id" :class="['workshop', {'registered': workshopRegistrationAbility(workshop.id) === RegistrationAbility.Registered}]" :href="workshop.detailsLink">
      
                <div class="workshop-header">
                    <p class="workshop-category" v-html="workshop.category_name" v-if="workshop.category_name"></p>
                    <p class="workshop-location" v-html="workshop.short_description" v-if="workshop.short_description"></p>
                </div>
                <div>
                    <div v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.Registered" class="registered-pill">
                        <i class="fas fa-ticket-alt"></i>
                        <span>{{ $t('cms.modules.event.schedule.registered') }}</span>
                    </div>
                    <h5>{{ workshop.name }}</h5>
                    <p v-html="workshop.description_other" if-html="workshop.description_other"></p>
                </div>
                <div>
                    <p v-if="Object.values(workshop.speakers).length">Présenté par</p>
                    <p class="speakers" v-if="Object.values(workshop.speakers).length">
                        <span v-for="(speaker, i) in Object.values(workshop.speakers)" :key="i">
                            {{(speaker.firstname + ' ' + speaker.lastname).trim()}}<span v-if="i < Object.values(workshop.speakers).length - 1">, </span>
                        </span>
                    </p>
                    <p v-if="Object.values(workshop.speakers).length">
                        {{ Object.values(workshop.speakers)[0].entity }}
                    </p>
                    <div class="workshop-actions">
                        
                            <button
                                class="registration-action  btn btn-primary btn-sm"
                                v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.Available"
                                @click.stop.prevent="registerToWorkshop(workshop.id)"
                            >
                                <i class="fas fa-calendar-plus"></i>
                                <span>{{ $t('cms.modules.event.schedule.register') }}</span>
                            </button>
                            <button
                                class="registration-action  btn btn-primary btn-sm remove"
                                v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.Registered"
                                @click.stop.prevent="removeWorkshopRegistration(workshop.id)"
                            >
                                <i class="fas fa-calendar-minus"></i>
                                <span>{{ $t('cms.modules.event.schedule.remove_registration') }}</span>
                            </button>
                            <p v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.Full" class="not-included">{{ $t('cms.modules.event.schedule.full') }}</p>
                            <p v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.NotIncluded" class="not-included">{{ $t('cms.modules.event.schedule.not_included_in_registration') }}</p>
                            <p v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.LimitReached" class="not-included">{{ $t('cms.modules.event.schedule.limit_reached') }}</p>
                
    
                    </div>
                </div>
                <div>
                 <img v-if="workshop.thumbnail" :src="workshop.thumbnail" alt="Workshop thumbnail">
                </div>
            </a>
        </div>
    </div>
</EventDatePaginator>