<div class="workshop-detail" v-if="!isLoading && event && workshop">
    <div class="container-top">
        <Alert alertClass="danger" :alert-message="registrationError" v-if="registrationError"/>
        <div class="workshop-header">

        <div v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.Registered" class="registered-pill">
            <i class="fas fa-ticket-alt"></i>
            <span>{{ $t('cms.modules.event.schedule.registered') }}</span>
        </div>
                     <p class="workshop-category" v-html="workshop.category_name" v-if="workshop.category_name"></p>
                    <p class="workshop-location" v-html="workshop.short_description" v-if="workshop.short_description"></p>
            
    </div>
        <div class="content-grid">
        <div class="workshop-content">
            <h2 class="workshop-name">{{ workshop.name }}</h2>
            <div class="workshop-description" v-html="workshop.description"></div>
        </div>
        <div class="workshop-sidebar">
            <div class="registration-container sidebox">
                    <img src="https://cdn.ca.yapla.com/company/CPYYtuzqXoPc38H7VZ1FawdjO/crm/images/badge-5-1756480305.svg">
                    <div class="workshop-time">{{ workshop.start_time }}</div>
                      
                            <button
                                class="registration-action  btn btn-primary btn-sm"
                                v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.Available"
                                @click.stop.prevent="registerToWorkshop(workshop.id)"
                            >
                                <i class="fas fa-calendar-plus"></i>
                                <span>{{ $t('cms.modules.event.schedule.register') }}</span>
                            </button>
                            <button
                                class="registration-action remove  btn btn-primary btn-sm"
                                v-if="workshopRegistrationAbility(workshop.id) === RegistrationAbility.Registered"
                                @click.stop.prevent="removeWorkshopRegistration(workshop.id)"
                            >
                                <i class="fas fa-calendar-minus"></i>
                                <span>{{ $t('cms.modules.event.schedule.remove_registration') }}</span>
                            </button>



                 <p class="presente" v-if="Object.values(workshop.speakers).length">Présenté par</p>
                    <p class="speakers" v-if="Object.values(workshop.speakers).length">
                        <span v-for="(speaker, i) in Object.values(workshop.speakers)" :key="i">
                            {{(speaker.firstname + ' ' + speaker.lastname).trim()}}<span v-if="i < Object.values(workshop.speakers).length - 1">, </span>
                        </span>
                    </p>
                    <p class="compagnie" v-if="Object.values(workshop.speakers).length">
                        {{ Object.values(workshop.speakers)[0].entity }}
                    </p>

                
            </div>
        </div>
    </div>
    </div>
    <div class="container-bottom">
        <div class="workshop-speakers" v-if="workshop.speakers?.length">
        <h3 class="speakers-title">Conférencier(s) et panéliste(s)</h3>
        <div class="speakers-container">
            <div class="speaker" v-for="speaker, i in workshop.speakers" :key="i">
                <div class="speaker-header">
                    <div class="speaker-picture" v-if="speaker.photo">
                        <img :src="speaker.photo" :alt="speaker.firstname + ' ' + speaker.lastname">
                    </div>
                    <div class="speaker-name-container">
                        <p class="speaker-name">{{ speaker.firstname + ' ' + speaker.lastname }}</p>
                        <p class="speaker-title">
                            <span v-if="speaker.professional_title">{{ speaker.professional_title }}</span>
                            <span v-if="speaker.entity"> </span>
                        </p>
                        <a class="btn-linkedin" :href="speaker.linked_in" target="_blank">
                            <span aria-hidden="true" class="icon-linkedin fab fa-linkedin">
                                <span class="sr-only">linkedin</span>
                            </span>
                        </a> 
                        
                        <img class="logo" :src="speaker.logo_organisation" :alt="speaker.entity" />
            
                                
                    </div>
                </div>
                <div class="speaker-details" v-if="speaker.biography">
                    <p class="speaker-bio" v-html="speaker.biography"></p>
                </div>
            </div>
        </div>
    </div>
    </div>    
</div>